.logo{
        background-color:black;
        padding: 10px 10px;
}
.primeiro{
        padding: 100px 50px;
}

img {
    height: 40%;
    width: 40%;
    max-width: 230px;
    min-width: 180px;   
}
h1{
font-family: Tahoma, Verdana, Segoe, sans-serif;
}
#bullet{
 font-family: Tahoma, Verdana, Segoe, sans-serif;
}
p{
    font-family: Tahoma, Verdana, Segoe, sans-serif;
}
b{
    font-family: Tahoma, Verdana, Segoe, sans-serif;
}
a{
    font-family: Tahoma, Verdana, Segoe, sans-serif;
}
h5{
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-size: 10px;
}

