<!DOCTYPE html>
<html>
<head>
    {% block cabecalho %}
        <title>DiceZ</title>
    {% endblock %}
    {% block css %}
    <link rel="stylesheet" type="text/css" href="/static/dicez.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    {% endblock %}
    
</head>
<body>
    {% block top %}
<div class="container">
<a href="/"><div name="logo" class="logo">
<img src="/static/logo_white.png"/>
</div>
</a> 

    {% endblock %}
    {% block corpo %}
        <!-- body -->
    {% endblock %}
</div>

    <script src="/static/bootstrap-formhelpers-phone.js"></script>
    <script src="/static/bootstrap-formhelpers-phone.format.js"></script>
</body>
</html>