{% extends 'base.html' %}

{% block corpo %}
    <h1>Cadastro</h1>
    <form method="POST" class="post-form">{% csrf_token %}
        <div class="form-group">
            <label for="id_name">
                <h3>nome:</h3>
            </label>
            <input id="id_name" maxlength="200" name="name" class="form-control input-lg" type="text" required >
        </div>
        <div class="form-group"><label for="id_email"><h3>e-mail:</h3></label> <input id="id_email" maxlength="254" name="email" type="email" class="form-control input-lg" required /></div>
        <div class="form-group"><label for="id_cel"><h3>telefone:</h3></label> <input id="id_cell" name="cell" type="text" class="form-control input-lg bfh-phone" data-format="(dd)ddddd-dddd"></div>
        <div class="form-group"><label for="id_birth"><h3>data de nascimento:</h3></label> <input id="id_birth" maxlength="20" name="birth" type="date" class="form-control input-lg" /></div>
        <div class="form-group">
            <label for="id_transport">
                <h3>meio de transporte para chegar a dicez:</h3>
            </label>
                <select id="id_transport" name="transport" class="form-control input-lg" required>
                    <option value="" selected="selected">---------</option>
                    <option value="T">Transporte público</option>
                    <option value="U">Táxi, Uber ou similares</option>
                    <option value="B">Bicicleta</option>
                    <option value="V">Veículo próprio</option>
                    <option value="N">Não utilizo veículos</option>
                </select>
        </div>
        <div class="checkbox">
            <label for="id_accept_spam">
                <h3>
                    <input checked="checked" id="id_accept_spam" name="accept_spam" type="checkbox" />aceito receber e-mail de promoções da DiceZ.
                </h3>
            </label>
        </div>
        <div class="checkbox"><label for="id_accept_wzap"><h3><input checked="checked" id="id_accept_wzap" name="accept_wzap" type="checkbox"/><h3>aceito receber sms e contato por WhatsApp de promoções da DiceZ.</h3></label></div>

        <button type="submit" class="save btn btn-default">continuar</button>
    </form>
{% endblock %}