{% extends "base.html" %}
{% load humanize %}
  {% block cabecalho %}
      <script type="text/javascript">
  window.onload = function () {
    var chart = new CanvasJS.Chart("chartContainer",
    {
      zoomEnabled: false,
                        animationEnabled: true,
      title:{
        text: "valores"
      },
      axisY2:{
        valueFormatString:"0.0 \%",
        
        maximum:{{max_value}},
        interval: {{interval}},
        interlacedColor: "#F5F5F5",
        gridColor: "#D7D7D7",      
        tickColor: "#D7D7D7"                
      },
                        theme: "theme2",
                        toolTip:{
                                shared: true
                        },
      legend:{
        verticalAlign: "bottom",
        horizontalAlign: "center",
        fontSize: 15,
        fontFamily: "Lucida Sans Unicode"

      },
      data: [
       {% for fundo in fundos_list %}

               {        
          type: "line",
          lineThickness:3,
          axisYType:"secondary",
          showInLegend: true,           
          name: "{{fundo.nome}}", 
          dataPoints: [
          {% for rentabilidade in fundo.rentabilidades %}
          { x: new Date({{rentabilidade.date|date:"Y,m-1,d"}}), y: {{rentabilidade.value}}/{{fundo.menor_valor}}-1 },
          {% endfor %}
          ]
          },

    {% endfor %}


        ]
     ,
          legend: {
            cursor:"pointer",
            itemclick : function(e) {
              if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
              e.dataSeries.visible = false;
              }
              else {
                e.dataSeries.visible = true;
              }
              chart.render();
            }
          }
        });

chart.render();
}
</script>
  <script type="text/javascript" src="/static/js/canvasjs.min.js"></script>
  {% endblock %}


{% block corpo %}

    <div id="chartContainer" style="height: 400px; width: 70%; margin-left:10%">
   </div>
    <table border="1"; margin-left:10%>
    <tr>
    <th>
    Datas
    </th>    
    {% for date in dates %}
      <th>{{date|date:"d/m/Y"}}</th>
    {% endfor %}
    </tr>

     {% for fundo  in fundos_list %}
     <tr>
     <th><a href="/fundos/{{fundo.id_fundo}}" target="_blank">{{fundo.nome}}</a></th>
      {% for mensal in fundo.mensais%}

      <td>{{mensal.value|floatformat:2|intcomma}}%</td>
     {%endfor%}
     </tr>
     {%endfor%}
    </table>
{% endblock %}
