{% extends "base.html" %}

{% block corpo %}
<div class="primero">
    <br><br>
    <p>A Dicez completou seus primeiros seis meses de abertura! Para comemorar, convidamos você a responder uma pequena pesquisa de satisfação. Assim você ajuda a gente a melhorar cada vez mais o nosso serviço e atendimento, e de quebra ainda concorre a um jantar na faixa*. Vamos lá?</p>
</div>
<a href="cadastro">SEGUIR</a>
<br>
<br>


<h6>* Todas as pessoas que preencherem nosso cadastro e completarem a pesquisa concorrerão a um jantar na DiceZ, com direito a: dois lanches, uma porção, dois drinks ou soft drinks e duas sobremesas, sendo todos os itens à escolha do cardápio da DiceZ. O valor do jantar não poderá ser convertido em dinheiro. O sorteio ocorrerá no dia 01/08/2017 e o nome da pessoa ganhadora será divulgado em nossas redes sociais e site. O prazo para retirada do brinde é 31/10/2017, durante os dias e horários de funcionamento normal da DiceZ.
</h6>
{% endblock %}
