{% extends "base.html" %}

{% block corpo %}
<form method="POST" class="post-form">{% csrf_token %}
<input type="hidden" name="person" value="{{person}}">
    {% for q in questions %}

    <b>{{ q.question_text }}</b><br>

    {%if q.choice %}
        {{q.min_value}}&nbsp;&nbsp;
        {% for k,v in q.choice%} 
            <input type="radio" name="{{q.id}}" value={{v}}> {{k}}</select>&nbsp;&nbsp;
        
        {% endfor %}
        {{q.max_value}}
    <br><br>    
    {% endif %}
    {%if q.choices %}
     <div class="form-group">
               
        {% for v in q.choices%}
                    <div class='bullet'> 
                        <input type="checkbox" name="{{q.id}}" value="{{v.id}}-{{v.choice}}"> {{v.choice}}</select></div>
               
        {% endfor %}
         </div>
    {% endif %}
    {%if q.text %} 
            <div class="form-group">
                <input type="text" name="{{q.id}}"/><br>
            </div>
    {% endif %}
    {% endfor %}
     <button type="submit" class="save btn btn-default">continuar</button>
</form>
{% endblock %}
